# Ignorar todo por defecto
*

# Permitir archivos .c, .py y el Makefile
!*.c
!*.py
!Makefile

# Permitir también los directorios (necesario para que git vea los archivos permitidos dentro)
!*/

# Ignorar archivos comunes no deseados
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*~
*.swp
*.pdf
*.htm
*.html
*.zip

# Binarios de los ejercicios
tftp/bin/*
!tftp/bin/.keep
chat/bin/*
!chat/bin/.keep
